<div class="wrapper">
    <div id="coverImg" class="page-header page-header-xs image" data-parallax="true" style="background-image: url('../assets/img/federico-beccari.jpg');">
        <div class="middle">
            <div *ngIf="isloggeduser()" class="choose_file">
                <span *ngIf="isloggeduser()">Edit Cover Image</span>
                <input (change)="handleFileInputCoverImg($event.target.files)" *ngIf="isloggeduser()" name="Select File" type="file" />
            </div>

        </div>
    </div>

    <div class="filter"></div>

    <div class="section profile-content">
        <div [style.display]="profilesettings ? 'block' : 'none'" id="settings-page">
            <app-profile-settings (settingClose)="settingsComponentClose($event)"></app-profile-settings>
        </div>
        <div id="profile-page" [style.display]="profileInfo ? 'block' : 'none'" class="container">
            <div class="owner">
                <div class="avatar">
                    <label for="file">
                        <input *ngIf="isloggeduser()" class="custom-file-upload" type="file" id="file" style="display:none;" (change)="handleFileInput($event.target.files)">
                        <a>
                            <img id="profileimg" src="../assets/img/default-Profile-Pic.png" alt="Circle Image" class="img-circle img-no-padding img-responsive"
                                title="change profile picture">
                        </a>
                    </label>
                </div>
                <h6 class="description">{{role}}</h6>
                <div class="name" id="name">
                    <h4 class="title">{{usernameOfProfile}}
                        <i (click)=changeUserStatus() id="onlinestat" class="fa fa-circle" style="font-size:20px;color:#2ecc71;" placement="bottom"
                            ngbTooltip="change status"></i>
                        <br/>
                    </h4>
                    <div class="paddingBtn">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="c-rating">
                                <div class="c-rating__badge">{{rating}}</div>
                                <div class="c-rating__display" aria-hidden="true">
                                    <span class="c-rating__stars c-rating__stars--background"></span>
                                    <span id="widthofStars" class="c-rating__stars"></span>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button *ngIf="!isloggeduser()" (click)="addtobookmark()" type="button" class="btn btn-info btn-sm">
                                    <i class="fa fa-heart"></i>bookmark</button>
                                <button *ngIf="!isloggeduser() && isUserExpert()" (click)="goToSchedule()" type="button" class="btn btn-success btn-sm">
                                    <i class="fa fa-calendar-plus-o"></i>Schedule</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <app-snackbar></app-snackbar>
                    <br />
                    <br />
                    <div id="tagsdivouter">
                        <div id="tagsdiv"></div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <div class="flex-center">
                        <p> {{description}}</p>
                    </div>
                    <br />
                    <button *ngIf="isloggeduser()" (click)=profilesettingsbtn() class="btn btn-outline-default btn-round">
                        <i class="fa fa-cog"></i> Edit Info</button>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                </div>
            </div>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Bookmarked">
                            <ng-template ngbTabContent>
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <div *ngFor="let user of BookmarkedUsers">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img id="{{user.username}}" src="../assets/img/default-Profile-Pic.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>
                                                                <a [routerLink]="['/page/profile',user.username]">{{user.username}}</a>
                                                                <br/>
                                                                <small>{{user.role}}</small>
                                                            </h6>
                                                        </div>

                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            <button *ngIf="isloggeduser()" (click)="removeBookmarked()" type="button" class="btn  btn-danger btn-round">remove</button>
                                                        </div>
                                                    </div>
                                                </li>
                                                <hr />
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>