<!-- another conflict i chose the new one -->
<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
  
                       
        <div class="card">
                <h1 class="title">Please Rate The {{userrole}}</h1>
            <span class="starRating">
             
                                <input id="rating5" type="radio" value="5" (click)="userrating(5);">
                                 <label for="rating5">5</label>
                                 <input id="rating4" type="radio" value="4" (click)="userrating(4);">
                                 <label for="rating4">4</label>
                                 <input id="rating3" type="radio" value="3" (click)="userrating(3);">
                                 <label for="rating3">3</label>
                                 <input id="rating2" type="radio" value="2" (click)="userrating(2);">
                                 <label for="rating2">2</label>
                                 <input id="rating1" type="radio" value="1" (click)="userrating(1);">
                                 <label for="rating1">1</label>
                </span>
                      
                <h2 class="title">Please Rate The Session</h2>
                <span class="starRating">
                 
                                     <input id="rating5" type="radio" value="5" (click)="sessionrating(5);">
                                     <label for="rating5">5</label>
                                     <input id="rating4" type="radio" value="4" (click)="sessionrating(4);">
                                     <label for="rating4">4</label>
                                     <input id="rating3" type="radio" value="3" (click)="sessionrating(3);">
                                     <label for="rating3">3</label>
                                     <input id="rating2" type="radio" value="2" (click)="sessionrating(2);">
                                     <label for="rating2">2</label>
                                     <input id="rating1" type="radio" value="1" (click)="sessionrating(1);">
                                     <label for="rating1">1</label>
                    </span>
                      <h3></h3>    
                    <button class="button" style="height:30px;" align="bottom" (click)="submitratings()">Submit Ratings</button>
                       
                    </div>
                  </div>
                </div>
  
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    h1,h2 {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
    </style>
<div class="w3-display-container" style="height:250px;">
  
  <div class="w3-third w3-margin-bottom w3-display-topmiddle">
    <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <H1 class="w3-xlarge w3-text-blue" >Please rate the user</H1>
        <span class="starRating">
            
             <input id="rating5" type="button" value="5" (click)="rating(5);">
             <label for="rating5">5</label>
             <input id="rating4" type="button" value="4" (click)="rating(4);">
             <label for="rating4">4</label>
             <input id="rating3" type="button" value="3" (click)="rating(3);">
             <label for="rating3">3</label>
             <input id="rating2" type="button" value="2" (click)="rating(2);">
             <label for="rating2">2</label>
             <input id="rating1" type="button" value="1" (click)="rating(1);">
             <label for="rating1">1</label>
             
           </span>
    </ul>
  </div>
  <div class="w3-third w3-margin-bottom w3-display-middle">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
          <H2 class="w3-xlarge w3-text-blue" >Please rate the session</H2>
          <span class="starRating">
              
               <input id="rating51" type="button" value="5">
               <label for="rating51">5</label>
               <input id="rating41" type="button" value="4">
               <label for="rating41">4</label>
               <input id="rating31" type="button" value="3">
               <label for="rating31">3</label>
               <input id="rating21" type="button" value="2">
               <label for="rating21">2</label>
               <input id="rating11" type="button" value="1">
               <label for="rating11">1</label>
               
             </span>
      </ul>
    </div>
    <div class="w3-display-bottommiddle w3-text-yellow">
    <p>
        <label>Any comments on the session</label>
        <input class="w3-input w3-text-blue" type="text"></p>
      
      </div>
    </div>
    <div class="w3-display-container" style="height:50px;">
        
              <div class="w3-display-topmiddle">
        <button class="w3-button w3-white w3-border w3-text-blue">Submit Ratings</button>
          </div>
          </div> -->
