<!-- another conflict i chose the new one -->
<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
  
                       
        <div class="card">
                <h1 class="title">Please Rate The {{userrole}}</h1>
            <span class="starRating">
             
                                <input id="rating5" type="radio" value="5" (click)="userrating(5);">
                                 <label for="rating5">5</label>
                                 <input id="rating4" type="radio" value="4" (click)="userrating(4);">
                                 <label for="rating4">4</label>
                                 <input id="rating3" type="radio" value="3" (click)="userrating(3);">
                                 <label for="rating3">3</label>
                                 <input id="rating2" type="radio" value="2" (click)="userrating(2);">
                                 <label for="rating2">2</label>
                                 <input id="rating1" type="radio" value="1" (click)="userrating(1);">
                                 <label for="rating1">1</label>
                </span>
                      
                <h2 class="title">Please Rate The Session</h2>
                <span class="starRating">
                 
                                     <input id="rating55" type="radio" value="5" (click)="sessionrating(5);">
                                     <label for="rating55">5</label>
                                     <input id="rating44" type="radio" value="4" (click)="sessionrating(4);">
                                     <label for="rating44">4</label>
                                     <input id="rating33" type="radio" value="3" (click)="sessionrating(3);">
                                     <label for="rating33">3</label>
                                     <input id="rating22" type="radio" value="2" (click)="sessionrating(2);">
                                     <label for="rating22">2</label>
                                     <input id="rating11" type="radio" value="1" (click)="sessionrating(1);">
                                     <label for="rating11">1</label>
                    </span>
                      <h3></h3>    
                    <button class="button" style="height:30px;" align="bottom" (click)="submitratings()">Submit Ratings</button>
                       
                    </div>
                  </div>
                </div>