:host /deep/ ng2-smart-table table { 
  position: absolute;
  width:90% ;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right:0; 
  background:rgba(61, 61, 60, 0.6);
  
}

:host /deep/ ng2-smart-table table > tbody > tr > td{ 
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid gray;
   color: turquoise;
}
:host /deep/ ng2-smart-table table > thead > tr > th:first-child{ 
    color: yellow;
}
:host /deep/ ng2-smart-table a { color:yellow; }
:host /deep/ ng2-smart-table a:link { color:yellow; }
:host /deep/ ng2-smart-table a:hover { color:yellow; }
:host /deep/ ng2-smart-table a:focus { color:yellow; }

:host /deep/ tr.ng2-smart-row a { color: yellow; }
:host /deep/ tr.ng2-smart-row a:link { color: yellow; }
:host /deep/ tr.ng2-smart-row a:hover { color:yellow; }
:host /deep/ tr.ng2-smart-row a:focus { color:yellow; }

:host /deep/ ng2-smart-table table > tbody > tr:hover {background-color:rgb(61, 61, 60);} 
:host /deep/ ng2-smart-table ng2-smart-table-pager .pagination > .page-item > .page-link, .pagination > .page-item > span, .pagination > .page-item:first-child > .page-link, .pagination > .page-item:first-child > span, .pagination > .page-item:last-child > .page-link, .pagination > .page-item:last-child > span {     background-color: transparent;
   border: 0px;
   color: yellow;
   height: 25px;
   margin: 0 2px;
   min-width: 10px;
   font-weight: 600;
   
}
:host /deep/ ng2-smart-table ng2-smart-table-pager .page-link {
   position: relative;
   display: block;
   padding: .2rem .5rem;
   margin-left: -1px;
   line-height: 0.75;
   color: yellow;
   background-color: #fff;}
:host /deep/ ng2-smart-table ng2-smart-table-pager .pagination {
  margin-left: 40%;
  margin-top: 360%;
}
