<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <h3 class="title">Please Write Your Email</h3>
                            
                            <form class="login-form">
                                <label>Email</label>
                                <input type="text" class="form-control" [(ngModel)]="email" placeholder="email" [ngModelOptions]="{standalone: true}" autocomplete="username"/>
                                
                                <button (click)="forgotClick()" class="btn btn-success btn-block">Send Mail</button>
                              </form>
                            
                            <div style="text-align:center">{{loginMessage}}</div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
      