    <div class="wrapper">
        <div class="mainBody">
    <div class="page-header" style="background-image: url('../assets/img/bruno-abatti.jpg');">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
<!--  -->

<div *ngIf='monthFlag' >
        <div class="container">
                <div class="container">
                        <div class="container">
                                    <div class="row">
        <div class="col-md-3">
            <div class="buttonBetweenPadding">
            <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('January')"><i class="fa fa-calendar"></i>January</button>
            </div>
            <div class="buttonBetweenPadding">
            <button type="button" class="btn buttonDivider btn-outline-neutral "  (click)="monthGetValue('May')"><i class="fa fa-calendar"></i>May</button>
            </div>
            <div class="buttonBetweenPadding">
            <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('September')"><i class="fa fa-calendar"></i>September</button>
        </div>
        </div>
        <div class="col-md-3">
            <div class="buttonBetweenPadding">
            <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('February')"><i class="fa fa-calendar"></i>February</button>    
            </div>
            <div class="buttonBetweenPadding">
            <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('June')"><i class="fa fa-calendar"></i>June</button>
            </div>
            <div class="buttonBetweenPadding">
            <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('October')"><i class="fa fa-calendar"></i>October</button>
            </div>
        </div>
        <div class="col-md-3">
                <div class="buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral "  (click)="monthGetValue('March')"><i class="fa fa-calendar"></i>March</button>
                </div>
                <div class="buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('July')"><i class="fa fa-calendar"></i>July</button>
                </div>
                <div class="buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('November')"><i class="fa fa-calendar"></i>November</button>
                </div>
            </div>
        <div class="col-md-3">
                <div class="buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('April')"><i class="fa fa-calendar"></i>April</button>
                </div>
                <div class="buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('Augest')"><i class="fa fa-calendar"></i>Augest</button>
                </div>
                <div class="buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral "   (click)="monthGetValue('December')"><i class="fa fa-calendar"></i>December</button>
                </div>
            </div>
    </div>
</div>
</div>
</div>
</div>

<!--  -->
    <div *ngIf='weekFlag' >
            <div class="container">
                    <div class="container">
                        
                            <div class="container">
        <div class="row ">
                <div class="col-md-4">
                        <div class="buttonBetweenPadding">
                        <button type="button" class="btn buttonDivider btn-outline-neutral "  (click)="weekGetValue(1)"><i class="fa fa-window-maximize"></i>First Week</button>
                        </div>
                        <div class="buttonBetweenPadding">
                                <button type="button" class="btn buttonDivider btn-outline-neutral "  (click)="weekToMonth()"><i class="fa fa-arrow-circle-left"></i>back</button>
                               </div>
                    </div>
                    <div class="col-md-4">
                            <div class="buttonBetweenPadding">
                                    <button type="button" class="btn buttonDivider btn-outline-neutral "  (click)="weekGetValue(2)"><i class="fa fa-window-maximize"></i>Second Week</button>
                                    </div>
                        <div class="buttonBetweenPadding">
                        <button type="button" class="btn buttonDivider btn-outline-neutral "  (click)="weekGetValue(4)"><i class="fa fa-window-maximize"></i>Fourth Week</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="buttonBetweenPadding">
                                    <button type="button" class="btn buttonDivider btn-outline-neutral "  (click)="weekGetValue(3)"><i class="fa fa-window-maximize"></i>Third Week</button>
                                    </div>
                            
                            <div *ngIf="ifFifthWeek()" class="buttonBetweenPadding">
                                    <button  type="button" class="btn buttonDivider btn-outline-neutral "  (click)="weekGetValue(5)"><i class="fa fa-window-maximize"></i>Fifth Week</button>
                                    </div>
                    </div>
                    
            
        </div>
       
    </div>
            </div>
        </div>
        </div>
       <!--  -->
        <div *ngIf = "scheduleFlag">
            
        <div class="container ">       
                <div class="week-number">
                    {{getRange()}}
                        <!-- {{ yourDate | week }} <br> -->
                        <div class="weekRangeFont">
                        {{weekStart}}
                        <i class='fa fa-arrow-right'></i>
                        {{ weekEnd }}
                        </div>
                    </div>
               <div id="table">
       <!-- <p><button class="w3-button w3-block" (click)="book();">This is the expert's schedule , if you would like to book a session with the expert at another time please press here</button></p> -->
       
                    <div class="day time">
            <div class="day_title"><button type="button" class="btn buttonDivider btn-outline-neutral btnBorder"  (click)="scheduleToWeek()"><i class="fa fa-arrow-circle-left"></i>back</button></div>
            <div class="hour">09:00</div>
            <div class="hour">10:00</div>
            <div class="hour">11:00</div>
            <div class="hour">12:00</div>
            <div class="hour">01:00</div>
            <div class="hour">02:00</div>
            <div class="hour">03:00</div>
            <div class="hour">04:00</div>
            <div class="hour">05:00</div>
            <div class="hour">06:00</div>
            <div class="hour">07:00</div>
            <div class="hour">08:00</div>
            <div class="hour">09:00</div>
            <div class="hour">10:00</div>
            <div class="hour">11:00</div>
            
         
        </div>
        <div class="">
                
        <div class="day saturday">
            
                <div class="day_title">SATURDAY</div>
                <div *ngFor="let number of numbers">
                        <div *ngIf="randomChecker(number)" class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , number);">{{slots[0]}}</div>
                        <div *ngIf="!randomFlag" class="class spacing" data-tooltip="Cannot be reserved"></div>
                </div>
               
            </div>
            
            <div class="day sunday">
                   
                <div class="day_title">SUNDAY</div>

                <div *ngFor="let number of numbers">
                        <div *ngIf="randomChecker(number)" class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , number);">{{slots[0]}}</div>
                        <div *ngIf="!randomFlag" class="class spacing" data-tooltip="Cannot be reserved"></div>
                </div>
    
              
            </div>
            
            <div class="day monday">
                    
                <div class="day_title">MONDAY</div>
                
                <div *ngFor="let number of numbers">
                        <div *ngIf="randomChecker(number)" class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , number);">{{slots[0]}}</div>
                        <div *ngIf="!randomFlag" class="class spacing" data-tooltip="Cannot be reserved"></div>
                </div>
             
               
                
            </div>
            
            <div class="day tuesday">
                   
                <div class="day_title">TUESDAY</div>
               
                <div *ngFor="let number of numbers">
                        <div *ngIf="randomChecker(number)" class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , number);">{{slots[0]}}</div>
                        <div *ngIf="!randomFlag" class="class spacing" data-tooltip="Cannot be reserved"></div>
                </div>
               
            </div>
            
            <div class="day wednesday">
                   
              <div class="day_title">WEDNESDAY</div>
             
              <div *ngFor="let number of numbers">
                    <div *ngIf="randomChecker(number)" class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , number);">{{slots[0]}}</div>
                    <div *ngIf="!randomFlag" class="class spacing" data-tooltip="Cannot be reserved"></div>
            </div>
            </div>
           
            <div class="day thursday">
                
                    <div class="day_title">THURSDAY</div>
                    
                    <div *ngFor="let number of numbers">
                            <div *ngIf="randomChecker(number)" class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , number);">{{slots[0]}}</div>
                            <div *ngIf="!randomFlag" class="class spacing" data-tooltip="Cannot be reserved"></div>
                    </div>
                    
                  </div>
           
                  
                   <div class="day Friday">
                        
                        <div class="day_title">FRIDAY</div>
                      
                        <div *ngFor="let number of numbers">
                                <div *ngIf="randomChecker(number)" class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , number);">{{slots[0]}}</div>
                                <div *ngIf="!randomFlag" class="class spacing" data-tooltip="Cannot be reserved"></div>
                        </div>
                     
                </div>  
            </div>  
            
    </div>
</div>
    </div>
                  
                </div> 
            </div>
    </div>