<!-- another conflict i chose the new one -->
<html>
<body>
    <div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
      
        <div class="container">       
              
       <p><button class="w3-button w3-block" (click)="book();">This is the expert's schedule , if you would like to book a session with the expert at another time please press here</button></p>
       
                    <div class="day time">
            <div class="day_title">Time</div>
            <div class="hour">9:00</div>
            <div class="hour">10:00</div>
            <div class="hour">11:00</div>
            <div class="hour">12:00</div>
            <div class="hour">1:00</div>
            <div class="hour">2:00</div>
            <div class="hour">3:00</div>
            <div class="hour">4:00</div>
            <div class="hour">5:00</div>
            <div class="hour">6:00</div>
            <div class="hour">7:00</div>
            <div class="hour">8:00</div>
            <div class="hour">9:00</div>
            <div class="hour">10:00</div>
            <div class="hour">11:00</div>
            
         
        </div>
        <div class="day 1">
                <div class="day_title">1</div>
                
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , 0);">{{slots[0]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 ,9);">{{slots[9]}}</div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" ></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
            </div>
            
            <div class="day 2">
                <div class="day_title">2</div><div class="class spacing"></div>

                <div class="class gray" data-tooltip="Click to reserve slot" >Reserve</div>
              
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
    
              
            </div>
            
            <div class="day 3">
                <div class="day_title">3</div>
                
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(2 , 11);">{{slots[39]}}</div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(2 , 13);" >{{slots[41]}}</div>
                <div class="class spacing"></div>
             
               
                
            </div>
            
            <div class="day 4">
                <div class="day_title">4</div>
               
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(3 , 2);" >{{slots[44]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(3 , 5);">{{slots[47]}}</div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(3 , 6);">{{slots[48]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
               
            </div>
            
            <div class="day 5">
              <div class="day_title">5</div>
             
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(4 , 8);" >{{slots[64]}}</div>
              <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(4 , 9);" >{{slots[65]}}</div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
            </div>
           
            <div class="day 6">
                    <div class="day_title">6</div>
                    
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                  </div>
           
                  
                  <div class="day 7">
                        <div class="day_title">7</div>
                      
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                     
                </div> 
                <div class="day 8">
                    <div class="day_title">8</div>
                    
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(7 , 2);">{{slots[100]}}</div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                 
            </div> 
            <div class="day 9">
                <div class="day_title">9</div>
              
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(8 , 2);">{{slots[114]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(8 , 7);">{{slots[119]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
             
        </div> 
        <div class="day 10">
            <div class="day_title">10</div>
           
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(9 , 7);" >{{slots[126]}}</div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
            <div class="class spacing"></div>
         
    </div> 
    <div class="day 11">
        <div class="day_title">11</div>
       
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
        <div class="class spacing"></div>
     
</div> 
<div class="day 12">
    <div class="day_title">12</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(11 , 2);">{{slots[156]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(11 , 7);" >{{slots[161]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 13">
    <div class="day_title">13</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 14">
    <div class="day_title">14</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(13 , 7);">{{slots[189]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 

<div class="day 15">
    <div class="day_title">15</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 16">
    <div class="day_title">16</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(15 , 2);">{{slots[226]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 17">
    <div class="day_title">17</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 18">
    <div class="day_title">18</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(17 , 7);">{{slots[245]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 19">
    <div class="day_title">19</div>
    
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 20">
    <div class="day_title">20</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 21">
    <div class="day_title">21</div>
    
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 22">
    <div class="day_title">22</div>
    
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(21 , 11);">{{slots[305]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 23">
    <div class="day_title">23</div>
  
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 24">
    <div class="day_title">24</div>
    
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(23 , 0);">{{slots[322]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 25">
    <div class="day_title">25</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 26">
    <div class="day_title">26</div>
    
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 27">
    <div class="day_title">27</div>
    
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 28">
    <div class="day_title">28</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(27 , 3);">{{slots[381]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 29">
    <div class="day_title">29</div>
   
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
<div class="day 30">
    <div class="day_title">30</div>
  
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
    <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(29 , 11);">{{slots[417]}}</div>
    <div class="class spacing"></div>
    <div class="class spacing"></div>
 
</div> 
            </div>
     
                  
                </div> 
    </div></body>
                </html>