@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
.parlox{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
html, body { height: 100%; margin: 0px; }
@media (min-width: 600px) {
.container{
    height: auto;
  position: absolute;
  margin: auto;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
}
}
@media (max-width: 600px) {
  .container{
      height: auto;
    position: absolute;
    margin: auto;
    top: 18%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  }
  @media (max-width: 600px) {
  .buttonPadding{
    padding: 5%;
  }
}
@media (min-width: 600px) {
  .buttonPadding{
    padding: 8%;
  }
}
.buttonBetweenPaddingWeek{
  padding: 8%;
}
  .buttonBetweenPadding{
    padding: 5%;
  }
.w3-button{
  background-color: #34495e;
  color:#efefef;
  width:977px;
}
.positionWeekBlock {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap!important;
  margin-right: 0!important;
  margin-left: 21%!important;
}
.backButtonWeekBlock{
  position: absolute;
  margin: auto;
  top: 21%;
  bottom: 0;
  right: 79%;
  left: 0;
}
.backButtonScheduleBlock{
  position: absolute;
  margin: auto;
  top: 0%;
  bottom: 0%;
  right: 88%;
  left: 0%;
}
.mainBody {
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
  overflow: hidden;
}
@media (min-width: 600px) {
.weekRangeFont{
  font-family: "Times New Roman", Times, serif;
  color: #efefef;
  font-size: 140%;
}
}
@media (max-width: 600px) {
  .weekRangeFont{
    font-family: "Times New Roman", Times, serif;
    color: #efefef;
    font-size: 100%;
  }
}
.positionChangeWeek{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.paddingDiv{
  padding: 20%;
}
.day {
  width: 12%;
  height: auto;
  float: left;
  background-color: rgba(231, 231, 231, 0.5);
  background-image: linear-gradient(rgba(0,0,0,.08) 50%, transparent 50%);
  background-size: 0.5px 10%;
  
}
.buttonBox{
  border-style: solid;
}
.btnBorder{
  border-color: rgba(0,0,0,0);
}
.day.time { width: 10%;}

@media (min-width: 600px) {
.day_title {
  height:5%;
  background-color: #34495e;
  font-size: 30%;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 5vh;
}
}
//<<<<
@media (max-width: 600px) {
  .day_title {
    height:5%;
    background-color: #34495e;
    font-size: 50%;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 5vh;
  }
}

@media (min-width: 600px) {
.hour {
  height: 10%;
  padding:0.2px;
  background-color: rgba(52, 73, 94,0.9);
  font-size: 30%;
  text-align: center;
  line-height: 5.05vh;
}
}
//<<<<
@media (max-width: 600px) {
  .hour {
    height: 10%;
    background-color: rgba(52, 73, 94,0.9);
    font-size: 50%;
    text-align: center;
    line-height: 5.05vh;
  }
  }

@media (min-width: 600px) {
.class {
  width: 60%;
  height: 5vh; /*90min*/
  line-height: 5vh;
  background-color: #4d969b;
  font-size: 30%;
  padding-left: 0;
  font-family: monospace;
  font-weight: 300;
}
}
//<<<<
@media (max-width: 600px) {
  .class {
    width: 60%;
    height: 5vh; /*90min*/
    line-height: 5vh;
    background-color: #4d969b;
    font-size: 50%;
    padding-left: 0;
    font-family: monospace;
    font-weight: 300;
  }
  }
  @media (min-width: 600px) {
    .classReserved {
      width: 60%;
      height: 5vh; /*90min*/
      line-height: 5vh;
      background-color: #d17000;
      font-size: 30%;
      padding-left: 0;
      font-family: monospace;
      font-weight: 300;
    }
    }
    //<<<<
    @media (max-width: 600px) {
      .classReserved {
        width: 60%;
        height: 5vh; /*90min*/
        line-height: 5vh;
        background-color: #d17000;
        font-size: 50%;
        padding-left: 0;
        font-family: monospace;
        font-weight: 300;
      }
      }
  @media (min-width: 600px) {
.positionArrow{
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 300%;
}
  }
  
.tableCenter{
  position: relative;
  margin-left: 5%;
  width: 100%;
  z-index: 0;
}

.windowPop{
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  width:50%;
  height:50%;
  border-radius: 2%;
  background-color: rgba(24, 24, 24, 0.8);
}
.windowPopConfirmation{
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  width:35%;
  height:35%;
  border-radius: 2%;
  background-color: rgba(24, 24, 24, 0.8);
}
.class.short { height: 5.2vh; line-height: 5.2vh; } /* 45min class */
.class.b15 { margin-top: 2.5vh; } /* after 15 min break */
.class.b45 { margin-top: 7.5vh; } /* after 45 min break */
.class.b90 { margin-top: 15vh; } /* after 2x45 min break */
.class.b135 { margin-top: 22.5vh; } /* after 3x45 min break */


.navy { background-color: #34495e; }
.gray { background-color: #4d969b; }
.gray:visited {background-color: yellow;}
.yellow { background-color: yellow; color: #303030; }
.spacing { background-color: transparent; }



/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: initial;
}


/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  pointer-events: none;
}


/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 10px;
  margin-left: -75px;
  padding: 7px 5px;
  width: 140px;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}


/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -7px;
  margin-bottom: 3px;
  width: 0;
  border-top: 7px solid black;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}


/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  bottom: 90%;
}


.btnPosition{
  position: absolute;
  margin: auto;
  top: 85%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.btnPositionConfirmation{
  position: absolute;
  margin: auto;
  top: 75%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.userName{
  //margin-right: 20%;
}
.acceptBtn{
  //margin-left: 20%;
}
.userBlock{
  padding: 5%;
}
.scrollBoxUsers{
  overflow-y: scroll;
  overflow-x: hidden;
    height: 15em;
}


#windowScroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 245,0);
}
#windowScroll::-webkit-scrollbar
{
    width: 5px;
    background-color: rgba(255, 251, 251, 0.644);
}

#windowScroll::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0,0.5);
    border: 1px solid rgba(85, 85, 85,0.5);
}
.confirmationPopout{
  position: absolute;
  margin: auto;
  top: 9%;
  bottom: 0;
  right: 0;
  left: 0;
}
.scrollBoxUsersSchedule{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50em;
}


#windowScrollSchedule::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(245, 245, 245,0);
}
#windowScrollSchedule::-webkit-scrollbar
{
    width: 5px;
    background-color: rgba(255, 251, 251, 0);
}

#windowScrollSchedule::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(85, 85, 85, 0);
}
.zPosition{
  z-index: 2;
}
.snackbarPosition{
  position: absolute;
  margin: auto;
  bottom: 82%;
  z-index: 3;
}