<!-- another conflict i chose the new one -->
<html>
<body>
    <div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
<!--  -->


<div class="row">
        <div class="col-md-3 buttonBetweenPadding ">
            <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('January')"><i class="fa fa-calendar"></i>January</button>
            <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('May')"><i class="fa fa-calendar"></i>May</button>
            <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('September')"><i class="fa fa-calendar"></i>September</button>
        </div>
        <div class="col-md-3 buttonBetweenPadding">
            <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('February')"><i class="fa fa-calendar"></i>February</button>    
            <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('June')"><i class="fa fa-calendar"></i>June</button>
            <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('October')"><i class="fa fa-calendar"></i>October</button>
        </div>
        <div class="col-md-3 buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('March')"><i class="fa fa-calendar"></i>March</button>
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('July')"><i class="fa fa-calendar"></i>July</button>
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('November')"><i class="fa fa-calendar"></i>November</button>
        </div>
        <div class="col-md-3 buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('April')"><i class="fa fa-calendar"></i>April</button>
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('Augest')"><i class="fa fa-calendar"></i>Augest</button>
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='monthFlag' (click)="monthGetValue('December')"><i class="fa fa-calendar"></i>December</button>
        </div>
    </div>


<!--  -->
        <div class="row">
            <div class="col-md-3 buttonBetweenPadding ">
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='weekFlag' (click)="weekGetValue(1)"><i class="fa fa-window-maximize"></i>First Week</button>
            </div>
            <div class="col-md-3 buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='weekFlag' (click)="weekGetValue(2)"><i class="fa fa-window-maximize"></i>Second Week</button>
            </div>
            <div class="col-md-3 buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='weekFlag' (click)="weekGetValue(3)"><i class="fa fa-window-maximize"></i>Third Week</button>
            </div>
            <div class="col-md-3 buttonBetweenPadding">
                <button type="button" class="btn buttonDivider btn-outline-neutral buttonPadding"  *ngIf='weekFlag' (click)="weekGetValue(4)"><i class="fa fa-window-maximize"></i>Fourth Week</button>
            </div>
        </div>
       <!--  -->
        <div *ngIf = "scheduleFlag">
        <div class="container ">       

       <!-- <p><button class="w3-button w3-block" (click)="book();">This is the expert's schedule , if you would like to book a session with the expert at another time please press here</button></p> -->
       
                    <div class="day time">
            <div class="day_title">Time</div>
            <div class="hour">09:00</div>
            <div class="hour">10:00</div>
            <div class="hour">11:00</div>
            <div class="hour">12:00</div>
            <div class="hour">01:00</div>
            <div class="hour">02:00</div>
            <div class="hour">03:00</div>
            <div class="hour">04:00</div>
            <div class="hour">05:00</div>
            <div class="hour">06:00</div>
            <div class="hour">07:00</div>
            <div class="hour">08:00</div>
            <div class="hour">09:00</div>
            <div class="hour">10:00</div>
            <div class="hour">11:00</div>
            
         
        </div>
        <div class="day saturday">
                <div class="day_title">SATURDAY</div>
                
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 , 0);">{{slots[0]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(0 ,9);">{{slots[9]}}</div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" ></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
            </div>
            
            <div class="day sunday">
                <div class="day_title">SUNDAY</div><div class="class spacing"></div>

                <div class="class gray" data-tooltip="Click to reserve slot" >Reserve</div>
              
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
    
              
            </div>
            
            <div class="day monday">
                <div class="day_title">MONDAY</div>
                
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(2 , 11);">{{slots[39]}}</div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(2 , 13);" >{{slots[41]}}</div>
                <div class="class spacing"></div>
             
               
                
            </div>
            
            <div class="day tuesday">
                <div class="day_title">TUESDAY</div>
               
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(3 , 2);" >{{slots[44]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(3 , 5);">{{slots[47]}}</div>
                <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(3 , 6);">{{slots[48]}}</div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
                <div class="class spacing"></div>
               
            </div>
            
            <div class="day wednesday">
              <div class="day_title">WEDNESDAY</div>
             
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class spacing"></div>
              <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(4 , 8);" >{{slots[64]}}</div>
              <div class="class gray" data-tooltip="Click to reserve slot" (click)="Reserve(4 , 9);" >{{slots[65]}}</div>
            
              <div class="class spacing"></div>
              <div class="class spacing"></div>
            </div>
           
            <div class="day thursday">
                    <div class="day_title">THURSDAY</div>
                    
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    <div class="class spacing"></div>
                    
                  </div>
           
                  
                   <div class="day Friday">
                        <div class="day_title">FRIDAY</div>
                      
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                        <div class="class spacing"></div>
                     
                </div>  
                
            
    </div>
    </div>
                  
                </div> 
    </div></body>
                </html>