<div class="wrapper">
    <div class="mainBody">
        <div class="page-header" style="background-image: url('../assets/img/bruno-abatti.jpg');">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <!--  -->
            <div *ngIf='monthFlag'>
                <div class="container">
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(1)">
                                            <i class="fa fa-calendar"></i>January</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(5)">
                                            <i class="fa fa-calendar"></i>May</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(9)">
                                            <i class="fa fa-calendar"></i>September</button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(2)">
                                            <i class="fa fa-calendar"></i>February</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(6)">
                                            <i class="fa fa-calendar"></i>June</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(10)">
                                            <i class="fa fa-calendar"></i>October</button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(3)">
                                            <i class="fa fa-calendar"></i>March</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(7)">
                                            <i class="fa fa-calendar"></i>July</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(11)">
                                            <i class="fa fa-calendar"></i>November</button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(4)">
                                            <i class="fa fa-calendar"></i>April</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(8)">
                                            <i class="fa fa-calendar"></i>Augest</button>
                                    </div>
                                    <div class="buttonBetweenPadding">
                                        <button type="button" class="btn buttonDivider btn-outline-neutral " (click)="monthGetWeekRange(12)">
                                            <i class="fa fa-calendar"></i>December</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  -->
            <!--  -->
            <div class="snackbarPosition">
                <app-snackbar></app-snackbar>
            </div>

            <div class="zPosition" *ngIf="scheduleFlag">
                <div class="container ">
                    <div *ngIf="!mobile()" class="week-number">
                        <!-- {{ yourDate | week }} <br> -->
                        <div class="weekRangeFont">
                            {{ weekduration[selectedWeek].weekStart }}
                            <i class='fa fa-arrow-right'></i>
                            {{ weekduration[selectedWeek].WeekEnd }}
                        </div>
                    </div>

                    <div class="center">
                        <div *ngIf="popoutExpert" id="popout">
                            <div class="windowPop">
                                <p>Users</p>
                                <div class="scrollBoxUsers" id="windowScroll">
                                    <div *ngFor="let user of usersRequestedSlot">

                                        <div class="userBlock">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="userName">
                                                        {{user.username}}
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="acceptBtn">
                                                        <button (click)="AcceptUser( user.id , user.day , user.slot )" class="btn btn-success">Accept</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="btnPosition">
                                    <button class="btn btn-warning" (click)="cancel()">cancel slot</button>
                                    <button class="btn btn-danger" (click)="popoutExpertOff()">close</button>
                                </div>
                            </div>
                        </div>





                        <div *ngIf="popoutExpertConfirmation" id="popout">
                            <div class="windowPopConfirmation">
                                <div class="confirmationPopout userBlock">
                                    <p>Are You Sure About Offering This Slot</p>

                                    <div class="userBlock">
                                        <button class="btn btn-success" (click)="Offer(dayOffer,slotOffer)">Confirm</button>
                                    </div>
                                </div>
                                <div class="btnPositionConfirmation">
                                    <button class="btn btn-danger" (click)="popoutExpertConfirmationOff()">close</button>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="popoutUserCancel" id="popout">
                                <div class="windowPopConfirmation">
                                    <div class="confirmationPopout userBlock">
                                        <p>Do you want to Cancel the reservation for this Slot</p>
    
                                        <div class="userBlock">
                                            <button class="btn btn-warning"(click)="unReserve()">unReserve</button>
                                        </div>
                                    </div>
                                    <div class="btnPositionConfirmation">
                                        <button class="btn btn-danger" (click)="popoutUserCancelSlotOff()">close</button>
                                    </div>
                                </div>
                            </div>


                        <div *ngIf="popoutUserConfirmation" id="popout">
                            <div class="windowPopConfirmation">
                                <div class="confirmationPopout userBlock">
                                    <p>Are You Sure About Reserving This Slot</p>

                                    <div class="userBlock">
                                        <button class="btn btn-success" (click)="Reserve(dayOffer,slotOffer)">Confirm</button>
                                    </div>
                                </div>
                                <div class="btnPositionConfirmation">
                                    <button class="btn btn-danger" (click)="popoutUserConfirmationOff()">close</button>
                                </div>
                            </div>
                        </div>


                        <div class="scrollBoxUsersSchedule" id="windowScrollSchedule">
                            <div class="row">
                                <div *ngIf="!mobile() && !userView" class="col-md-1 positionArrow">
                                    <i (click)="operation('Left')" class="fa fa-chevron-left"></i>
                                </div>
                                <div class="col-md-10 positionArrow">
                                    <div class="row">


                                        <div id="table" class="tableCenter">

                                            <div class="day time">
                                                <div *ngIf="!mobile() && !userView" class="day_title">
                                                    <button type="button" class="btn buttonDivider btn-outline-neutral btnBorder" (click)="scheduleToWeek()">
                                                        <i class="fa fa-arrow-circle-left"></i>back</button>
                                                </div>
                                                <div *ngIf="mobile() || userView" class="day_title">
                                                    <span class=" buttonDivider btnPadding btnBorder">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>

                                                </div>
                                                <div class="hour">09:00</div>
                                                <div class="hour">10:00</div>
                                                <div class="hour">11:00</div>
                                                <div class="hour">12:00</div>
                                                <div class="hour">01:00</div>
                                                <div class="hour">02:00</div>
                                                <div class="hour">03:00</div>
                                                <div class="hour">04:00</div>
                                                <div class="hour">05:00</div>
                                                <div class="hour">06:00</div>
                                                <div class="hour">07:00</div>
                                                <div class="hour">08:00</div>
                                                <div class="hour">09:00</div>
                                                <div class="hour">10:00</div>
                                                <div class="hour">11:00</div>


                                            </div>
                                            <div class="">

                                                <div class="day saturday">

                                                    <div class="day_title">SATURDAY</div>
                                                    <div *ngFor="let slot of schedule[0]">
                                                        <!-- popoutExpertOn() -->
                                                        <div *ngIf="slot.offered && mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" (click)="popoutExpertOn( 0 , slot )" data-tooltip="This slot is offered">Offered</div>
                                                        <div *ngIf="slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" data-tooltip="Click to reserve slot" (click)="popoutUserConfirmationOn(0 , slot)">Available</div>
                                                        <div *ngIf="slot.offered && !mySchedule && reserveSameUser(slot.users)" (click)="popoutUserCancelSlotOn(0,slot)" class="classReserved buttonBox" data-tooltip="You have reserved this slot">Reserved</div>

                                                        <div *ngIf="!slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class spacing" data-tooltip="Cannot be reserved"></div>
                                                        <div *ngIf="!slot.offered && mySchedule && !reserveSameUser(slot.users)" (click)="popoutExpertConfirmationOn(0 , slot)" class="class spacing gray buttonBox"
                                                            data-tooltip="Can be Offered">Offer</div>
                                                    </div>
                                                </div>

                                                <div class="day sunday">

                                                    <div class="day_title">SUNDAY</div>

                                                    <div *ngFor="let slot of schedule[1]">

                                                        <div *ngIf="slot.offered && mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" (click)="popoutExpertOn( 1 , slot )" data-tooltip="This slot is offered">Offered</div>
                                                        <div *ngIf="slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" data-tooltip="Click to reserve slot" (click)="popoutUserConfirmationOn(1 , slot)">Available</div>
                                                        <div *ngIf="slot.offered && !mySchedule && reserveSameUser(slot.users)" (click)="popoutUserCancelSlotOn(1,slot)" class="classReserved buttonBox" data-tooltip="You have reserved this slot">Reserved</div>

                                                        <div *ngIf="!slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class spacing" data-tooltip="Cannot be reserved"></div>
                                                        <div *ngIf="!slot.offered && mySchedule && !reserveSameUser(slot.users)" (click)="popoutExpertConfirmationOn(1 , slot)" class="class spacing gray buttonBox"
                                                            data-tooltip="Can be Offered">Offer</div>
                                                    </div>


                                                </div>

                                                <div class="day monday">

                                                    <div class="day_title">MONDAY</div>
                                                    <div *ngFor="let slot of schedule[2]">
                                                        <div *ngIf="slot.offered && mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" (click)="popoutExpertOn( 2 , slot )" data-tooltip="This slot is offered">Offered</div>
                                                        <div *ngIf="slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" data-tooltip="Click to reserve slot" (click)="popoutUserConfirmationOn(2 , slot)">Available</div>
                                                        <div *ngIf="slot.offered && !mySchedule && reserveSameUser(slot.users)" (click)="popoutUserCancelSlotOn(2,slot)" class="classReserved buttonBox" data-tooltip="You have reserved this slot">Reserved</div>

                                                        <div *ngIf="!slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class spacing" data-tooltip="Cannot be reserved"></div>
                                                        <div *ngIf="!slot.offered && mySchedule && !reserveSameUser(slot.users)" (click)="popoutExpertConfirmationOn(2 , slot)" class="class spacing gray buttonBox"
                                                            data-tooltip="Can be Offered">Offer</div>
                                                    </div>
                                                </div>

                                                <div class="day tuesday">

                                                    <div class="day_title">TUESDAY</div>

                                                    <div *ngFor="let slot of schedule[3]">
                                                        <div *ngIf="slot.offered && mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" (click)="popoutExpertOn( 3 , slot )" data-tooltip="This slot is offered">Offered</div>
                                                        <div *ngIf="slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" data-tooltip="Click to reserve slot" (click)="popoutUserConfirmationOn(3 , slot)">Available</div>
                                                        <div *ngIf="slot.offered && !mySchedule && reserveSameUser(slot.users)" (click)="popoutUserCancelSlotOn(3,slot)" class="classReserved buttonBox" data-tooltip="You have reserved this slot">Reserved</div>

                                                        <div *ngIf="!slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class spacing" data-tooltip="Cannot be reserved"></div>
                                                        <div *ngIf="!slot.offered && mySchedule && !reserveSameUser(slot.users)" (click)="popoutExpertConfirmationOn(3 , slot)" class="class spacing gray buttonBox"
                                                            data-tooltip="Can be Offered">Offer</div>
                                                    </div>

                                                </div>

                                                <div class="day wednesday">

                                                    <div class="day_title">WEDNESDAY</div>

                                                    <div *ngFor="let slot of schedule[4]">
                                                        <div *ngIf="slot.offered && mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" (click)="popoutExpertOn( 4 , slot )" data-tooltip="This slot is offered">Offered</div>
                                                        <div *ngIf="slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" data-tooltip="Click to reserve slot" (click)="popoutUserConfirmationOn(4 , slot)">Available</div>
                                                        <div *ngIf="slot.offered && !mySchedule && reserveSameUser(slot.users)" (click)="popoutUserCancelSlotOn(4,slot)" class="classReserved buttonBox" data-tooltip="You have reserved this slot">Reserved</div>

                                                        <div *ngIf="!slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class spacing" data-tooltip="Cannot be reserved"></div>
                                                        <div *ngIf="!slot.offered && mySchedule && !reserveSameUser(slot.users)" (click)="popoutExpertConfirmationOn(4 , slot)" class="class spacing gray buttonBox"
                                                            data-tooltip="Can be Offered">Offer</div>
                                                    </div>
                                                </div>

                                                <div class="day thursday">

                                                    <div class="day_title">THURSDAY</div>
                                                    <div *ngFor="let slot of schedule[5]">
                                                        <div *ngIf="slot.offered && mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" (click)="popoutExpertOn( 5 , slot )" data-tooltip="This slot is offered">Offered</div>
                                                        <div *ngIf="slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" data-tooltip="Click to reserve slot" (click)="popoutUserConfirmationOn(5 , slot)">Available</div>
                                                        <div *ngIf="slot.offered && !mySchedule && reserveSameUser(slot.users)" (click)="popoutUserCancelSlotOn(5,slot)" class="classReserved buttonBox" data-tooltip="You have reserved this slot">Reserved</div>

                                                        <div *ngIf="!slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class spacing" data-tooltip="Cannot be reserved"></div>
                                                        <div *ngIf="!slot.offered && mySchedule && !reserveSameUser(slot.users)" (click)="popoutExpertConfirmationOn(5 , slot)" class="class spacing gray buttonBox"
                                                            data-tooltip="Can be Offered">Offer</div>
                                                    </div>
                                                </div>
                                                <div class="day Friday">
                                                    <div class="day_title">FRIDAY</div>
                                                    <div *ngFor="let slot of schedule[6]">
                                                        <div *ngIf="slot.offered && mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" (click)="popoutExpertOn( 6 , slot )" data-tooltip="This slot is offered">Offered</div>
                                                        <div *ngIf="slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class gray buttonBox" data-tooltip="Click to reserve slot" (click)="popoutUserConfirmationOn(6 , slot)">Available</div>
                                                        <div *ngIf="slot.offered && !mySchedule && reserveSameUser(slot.users)" (click)="popoutUserCancelSlotOn(6,slot)" class="classReserved buttonBox" data-tooltip="You have reserved this slot">Reserved</div>

                                                        <div *ngIf="!slot.offered && !mySchedule && !reserveSameUser(slot.users)" class="class spacing" data-tooltip="Cannot be reserved"></div>
                                                        <div *ngIf="!slot.offered && mySchedule && !reserveSameUser(slot.users)" (click)="popoutExpertConfirmationOn(6 , slot)" class="class spacing gray buttonBox"
                                                            data-tooltip="Can be Offered">Offer</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!mobile() && !userView" class="col-md-1 positionArrow">
                                    <i (click)="operation('Right')" class="fa fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>