<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="header-logo">
                <a class="navbar-brand" [routerLink]="['/page/home']">
                    <img src="assets/img/logo-footer.png">Riseup</a>
            </div>
            <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" aria-label="Toggle navigation"
                (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li *ngIf="isLogged()" class="nav-item">
                    <div class="searchArea">
                        <form (ngSubmit)="search(searchParams)">
                            <input id="userTextField" type="text submit" class="form-control" [(ngModel)]="searchParams" placeholder="Search for User"
                                [ngModelOptions]="{standalone: true}" />
                        </form>
                    </div>

                </li>
                <li *ngIf="isLogged()" id="userDropDown" class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="btn  btn-background" id="dropdownBasic2" ngbDropdownToggle>{{ selectedSearchParams }}</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-primary">
                            <a class="dropdown-item" *ngFor="let searchOption of searchOptions" (click)="ChangeSearchOption(searchOption)">{{ searchOption }}</a>
                        </div>
                    </div>
                </li>

                <li *ngIf="isLogged()&&isExpert()" class="nav-item">
                    <a id="officeHours" [routerLink]="['/page/schedule']" (click)="!isSamePath('schedule') && navbarCollapsed = !navbarCollapsed"
                        class="nav-link">
                        <i class="nc-icon nc-book-bookmark"></i> Office Hours</a>
                </li>

                <li *ngIf="isLogged()&&isAdmin()" class="nav-item">
                    <a id="admin" [routerLink]="['/page/dashboard']" (click)="!isSamePath('dashboard') && navbarCollapsed = !navbarCollapsed"
                        class="nav-link">
                        <i class="nc-icon nc-book-bookmark"></i>Dashboard</a>
                </li>

                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" (click)="!isSamePath('home') && navbarCollapsed = !navbarCollapsed" *ngIf="isDocumentation()"
                        class="nav-link"></a>
                </li>

                <li *ngIf="!isLogged()" class="nav-item">
                    <a id="login" [routerLink]="['/page/login']" (click)="!isSamePath('login') && navbarCollapsed = !navbarCollapsed" class="nav-link">
                        <i class="nc-icon nc-circle-10"></i>Login</a>
                </li>
                <li *ngIf="isLogged()" class="nav-item">
                    <a (click)="logout()" [routerLink]="['/page/home']" (click)="navbarCollapsed = !navbarCollapsed" id="logout" class="nav-link">
                        <i class="nc-icon nc-circle-10"></i>Logout</a>
                </li>
                <li *ngIf="!isLogged()" class="nav-item" id="signup">
                    <a [routerLink]="['/page/signup']" (click)="!isSamePath('signup') && navbarCollapsed = !navbarCollapsed" class="nav-link">
                        <i class="nc-icon nc-paper"></i>Signup</a>
                </li>

                <li *ngIf="isLogged()" class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a id="dropdownBasic1" ngbDropdownToggle>
                            <div class="notifier new" *ngIf="showNotification()">
                                <div [routerLink]="['/page/notification']" (click)="!isSamePath('notification') && navbarCollapsed = !navbarCollapsed" class="badge">{{ notificationCount }} </div>
                            </div>
                            <img [routerLink]="['/page/notification']" (click)="!isSamePath('notification') && navbarCollapsed = !navbarCollapsed" style="background-size:100% 100%;"
                                id="profileimgnavbar" class=" img-circle img-no-padding img-responsive" src="../assets/img/default-Profile-Pic.png"
                                width="45px" height="45px">
                        </a>
                    </div>
                </li>

                <li *ngIf="isLogged()" class="nav-item" id="profile">
                    <div class="nav-link">
                        <div (click)="!isSamePath('profile') && navbarCollapsed = !navbarCollapsed" [routerLink]="['/page/profile' , username]">
                            {{ username }}</div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>