<div class="page-header fullpage" data-parallax="true" style="background-image: url('../assets/img/daniel-olahs.jpg');">
  <div class="filter"></div>

<span class="bckg"></span>
<header>
  <!-- <a href="/page/home"><h1>Admin Dash</h1></a> -->
  <nav>
    <div id="buttonSelect" class="positionChange">
    <ul>
      <li>
        <a href="javascript:void(0);" (click)="directive1()" id="Profile" data-title="Profile">Tags</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="directive2()" id="Edit" data-title="Edit">Users</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="directive3()" id="Add" data-title="Add">Rating</a>
      </li>
      <li>
        <a href="javascript:void(0);"  (click)="directive4()" id="Remove" data-title="Remove">Colors</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="directive5()" id="Announce" data-title="Announce">Announce</a>
      </li>
    </ul>
  </div>
  </nav>
</header>
<main>
    <div class="motto">
      <div class="">
  <div class=" headTitle">
    
   <!-- <img class="smaller-image"width="200" id="logoImg" height="200" src="/assests/Img.png">-->
    <!-- <a href="javascript:void(0);">User</a> -->
  </div>
  <div id="mainPart">

      <div class="">
       <div *ngIf="first"><app-AdminPage></app-AdminPage></div>
       <div *ngIf="second"><app-viewUsers></app-viewUsers></div>
       <div *ngIf="thrid"><app-admin-rating></app-admin-rating></div>
       <div *ngIf="fourth"><app-colorTag></app-colorTag></div>
       </div>
  </div>
  </div>
</div>
</main>
</div>