<div class="page-header fullpage" data-parallax="true" style="background-image: url('../assets/img/daniel-olahs.jpg');">
  <div class="filter"></div>

<span class="bckg"></span>
<header>
  <!-- <a href="/page/home"><h1>Admin Dash</h1></a> -->
  <nav>
    <div id="buttonSelect" class="positionChange">
    <ul>
      <li>
        <a href="javascript:void(0);" id="Profile" data-title="Profile">Profile</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="Edit" data-title="Edit">Edit</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="Add" data-title="Add">Add</a>
      </li>
      <li>
        <a href="javascript:void(0);"  id="Remove" data-title="Remove">Remove</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="Announce" data-title="Announce">Announce</a>
      </li>
    </ul>
  </div>
  </nav>
</header>
<main>
    <div class="motto">
      <div class="positionChangeCenter">
  <div class="title">
    <h2>Dashboard</h2>
   <!-- <img class="smaller-image"width="200" id="logoImg" height="200" src="/assests/Img.png">-->
    <!-- <a href="javascript:void(0);">User</a> -->
  </div>
  <div id="mainPart">

      <div class="card-dashboard">
        <div id="element1">First Message</div>
        <div id="element2">Second Message</div>
        <div id="element3">Third Message</div>
        <div id="element4">Fourth Message</div>
        <div id="element5">Fifth Message</div>
        </div>

  </div>
  </div>
</div>
</main>
</div>

