<div class="page-header fullpage" data-parallax="true" style="background-image: url('../assets/img/daniel-olahs.jpg');">
  <div class="filter"></div>

<span class="bckg"></span>
<header>
  <!-- <a href="/page/home"><h1>Admin Dash</h1></a> -->
  <nav>
    <div id="buttonSelect" class="positionChange">
    <ul>
      <li>
        <a href="javascript:void(0);" data-title="Profile">Profile</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Edit Info">Edit</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Add Info">Add</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Remove Info">Remove</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Announce">Announce</a>
      </li>
    </ul>
  </div>
  </nav>
</header>
<main>
    <div class="motto">
      <div class="positionChangeCenter">
  <div class="title">
    <h2>Dashboard</h2>
   <!-- <img class="smaller-image"width="200" id="logoImg" height="200" src="/assests/Img.png">-->
    <!-- <a href="javascript:void(0);">User</a> -->
  </div>
  <div id="mainPart">

      <div class="section landing-section">
        </div>

  </div>
  </div>
</div>
</main>
</div>

