<!-- daniel-stanimi.jpg -->
<!--<ng2-smart-table [settings]="settings" ></ng2-smart-table>-->
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/daniel-stanimi.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">

     
  <div class = 'tagTable'>     
       <ng2-smart-table [settings]="settings" [source]="source" (custom) = "custom($event)">
        </ng2-smart-table>
      </div>
  
  </div>
</div>
</div>
</div>