<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="wrapper">
  <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">     
          <div class="card">       
                <div class="w3-padding-16 w3-margin-bottom w3-center">
                     <h1 class="w3-large card-title">Choose slots</h1>
                </div>
                <div class="w3-display-container" style="height:250px;">
                      <div class = "w3-display-topmiddle">
                          <label class="w3-text-blue"for = "scheduleDate1">Choose 1st slot</label>
                          <input id = "scheduleDate1" name="scheduleDate1" [(ngModel)]="scheduleDate1" type = "date">
                          <input id="slotTime1" name="slotTime1" [(ngModel)]="slotTime1" type="time" atp-time-picker value="20:55"/>
                      </div>
                      <div class = "w3-display-middle">
                          <label class="w3-text-blue"for = "scheduleDate2">Choose 2nd slot</label>
                          <input id = "scheduleDate2" name="scheduleDate2" [(ngModel)]="scheduleDate2" type = "date">
                          <input id="slotTime2" name="slotTime2" [(ngModel)]="slotTime2" type="time" atp-time-picker value="20:55"/>
                      </div>
                      <div class = "w3-display-bottommiddle">
                          <label class="w3-text-blue"for = "scheduleDate3">Choose 3rd slot</label>
                          <input id = "scheduleDate3" name="scheduleDate3" [(ngModel)]="scheduleDate3" type = "date">
                          <input id="slotTime3" name="slotTime3" [(ngModel)]="slotTime3" type="time" atp-time-picker value="20:55"/>
                      </div>
                </div>          
                <div class="w3-display-container" style="height:80px;">
                      <div class ="w3-display-topright">
                          <button class="w3-btn w3-ripple w3-blue" (click)="confirmClick($event)">confirm</button>{{confirmationMessage}}      
                      </div>
                </div>
          </div>
  </div>
</div>
