<!-- The html document for the notifications page -->
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/daniel-stanimi.jpg')">
        <div class="filter"></div>
        <div class="content-center componentWidth">


            <div>
                <div class="scrollBoxUsers" id="windowScroll">
                    <div *ngFor="let notification of notificationsArray">
                        <div class="container darker">
                            <img id="{{ notification.sender }}" src="../assets/img/default-Profile-Pic.png" alt="Avatar" style="width:100%;">
                            <div class="messagePosition">
                                <p>「{{notification.sender}}」 {{notification.message}} 「{{notification.recipient}}」</p>
                            </div>
                            <div  class="option-right" id="notificationOptions">
                            <a class="check" href=""><i class="fa fa-check"></i></a>
                            <a class="trash" href=""><i class="fa fa-trash"></i></a>
                            </div>
                            <span class="time-right">{{notification.createdAt}}</span>
                            
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>