<html>
    <body>
    <div class="wrapper">
            <div>
                <div class="filter"></div>
               <!--  -->
               
               <!--  -->
                  <div class="textPosition">
                  
                  <div id="titles">
                    <div id="titlecontent">
                  
                      <p class="center">Rise Up<br />
                        CONNECTING STARTUPS TO RELEVANT RESOURCES WORLDWIDE!</p>
                        <p class="center">What we offer<br>
                            RiseUp acts as the glue that fuses ecosystems together to help them realize their ultimate potential. By connecting stakeholders to 
                            local & global networks, and fusing diverse talents & resources, ecosystems are enabled to accelerate, innovate, and grow. We connect 
                            startups to seven relevant resources: knowhow, talent, funding, marketplace, exposure, toolbox, inspiration.
                        </p>
                        <p class="center">RiseUp Connect <br>
                            RiseUp Connect is an online platform which aims to connect startups with the most relevant resources anywhere at anytime. This platform offers an amazing 
                            experience of having access to a vast network and resources, and only a few clicks away on your phone. Through Slack, RiseUp Connect strives to make its 
                            platform easy to use for all of its users to matchmake and catalyze their business by addressing the six boxes of resources : Talent, Funding, Know-how, 
                            Marketplace, Exposure and Toolbox.
                        </p>
                        <p class="center">RiseUp Summit<br>
                            The summit is our three-day, one-stop-shop, entrepreneurship marathon! We get the biggest crowd of the most diverse people in global ecosystems, 
                            from entrepreneurs and startups, to investors and business experts. Whoever you are in the ecosystem, you’ll find a place that’s of relevance and 
                            fits your interest in the summit! From workshops, inspiring talks, and panel discussions to startup stations, pitch competitions, and networking 
                            platforms with industry experts.
                        </p>
                        <p class="center">RiseUp Explore<br>
                            People travel all the time for learning, exposure, and experience, so why don’t startups?<br>
                            We’ve designed a very special program where selected startups from specific regions go on trips 
                            to global ecosystems centered around events, conferences, and summits taking place there. Through 
                            Explore, startups are able to gain exposure to new markets, connect with global industry leaders,
                             network with investors, and most importantly gain know-how that will help them better achieve their goals.
                        </p>
                        <p class="center">RiseUp Meetups<br>
                            RiseUp MeetUps are all-year-round gatherings between ecosystems’ stakeholders to discuss new, trending, and relevant topics. These Meetups are 
                            spread onto four types of gatherings: Regional gatherings for entrepreneurs across various ecosystems and hubs in MENA cities; Local gatherings
                             for the ecosystems’ stakeholders in Egyptian cities; Industry-specific gatherings to discuss relevant topics about certain industries; Stakeholder-specific 
                             gatherings where stakeholders belonging to different target groups & industries join to discuss relevant issues that are both trending and relevant.
                        </p>
                        <p class="center">What we do in connect?<br>
                            Connecting entrepreneurs & innovators to the most relevant resources is what we do for a living!

                            Just like glue, we stick ecosystems together to help them realize their ultimate potential. 
                            By connecting stakeholders to local & global networks, and fusing diverse talents & resources, ecosystems are enabled to accelerate, innovate, and grow!

                            This fusion is demonstrated through our four main products: RiseUp Summit, RiseUp Connect, RiseUp Explore, and RiseUp Meetup.
                        </p>
                        <p class="center">Perks<br>
                            Connect enables startups to get access to exclusive offerings of tools and services that are tailored based on their needs at different stages. 
                            These offerings are to support the ecosystem from startup to another or from corporates to startups. The perks include tools and service such as: 
                            hosting, marketing, ads, payment solutions, legal services, financial services, mail, office space, transportation, office furniture, recruitment, consulting sessions, health and lifestyle.
                        </p>
                        <p class="center">Package<br>
                                Get access to exclusive perks offered through Connect .Buy the Superhero package and redeem your perks now. The Superhero Package is our corporate package, and includes perks from Facebook, 
                                Accept (previously known as Paymob), IBM, and Trendmicro. Perks range from hosting services, cloud services, telecom services, mail services, security services all the way to developer support tools.
                        </p>
                        <p class="center">Market Place<br>
                            We give startups an opportunity to showcase their products and services to other startups. We help them roll out new products, test new features, acquire more users and support other startups. Marketplace varies from discounts and freebies offered from one startup to the other.
                    </p>

                        <p class="center">Community<br>
                            RiseUp Connect’s community is an extension of our fusion of entrepreneurs, investors, brands, mentors, and support organisations. It cuts across many industries and connects global communities.
                        </p>

                        <p class="center">Partners<br>
                            Connect’s partners provide the ecosystem with perks that help startups grow faster. Perk providers support different startup stages in various industries. Being a perk provider helps test a new product or feature, acquire new customers and increase their exposure.
                        </p>
                        <p class="center">About Riseup again<br>
                                RiseUp has grown over the years from a grass-root movement to a global momentum. The purpose behind RiseUp has remained the same: to connect startups to the most relevant resources worldwide.
                                We act as the glue that fuses ecosystems together to help them realize their ultimate potential. By connecting stakeholders to local & global networks, and fusing diverse talents & resources, ecosystems are enabled to accelerate, innovate, and grow.
                                Our mission is accomplished through our four products: Summit, Connect, Explore, and Meetup.
                        </p>
                        <p class="center"> Tutorial words<br>
                            It's not enough to say that we're T-16. Our purpose for being a team is: "We come together as a team to support each other, learn from each other, and identify ways that we can better meet the needs of being better programmers to connect others to the main purpse of the world, knowledge."
                             Its our purpose and a mission, we want to connect everyone to the knoweldge that they need. We aim for a better tomorrow, especially in our current golden age, we like to call it the knoweldge age.
                             What matters most in this age is the easiness of acquiring knowledge. With the help of our University, our Professors, and our Teacher Assistants, we started in our journey in achieving our dreams, and that is to make knoweldge available to everyone.
                             We started the first step in our long journey with this project, with the enormous help of RiseUp, we finally can help people in sharing information of how to start up their business venture in an easier way.
                             We learned a lot in this experiment, especially that we learnt everything together and embarked on this project together. We disagreed about a lot of ideas, there's constructive dialogue and dissent, but in the end we pushed ourselves to our current limit. 
                             This means that even in our conflicts, we worked together to produce the best that we can do in our current conditions. We got to know each other more, talk to eachother, and learn from eachother's experience. We listened to eachother's advices and gave our opinions in situations.
                             Each member of the team contributed their fair share and more in the workload and fully understood their responsibilities are. 
                             We felt a sense of belonging to our team, we were committed to our work and took care about the success of the project. We felt that we were a one block that moves in a single move, that was how we reached this level in this project.
                             We are always happy to assist others when they need a helping hand. Because teams are often more productive when they are also offered
                            support from the university and access to the required resources, we were able to create the best from our first trial. Everyone is unique and will be able to offer their own experiences and knowledge that others may not possess. Diversity is needed so that all of the required skills are covered by somebody in the
                            team and each individual can be assigned a particular role on the basis of their strengths and skills. 

                        </p>
                        <p class="center">Special Thanks<br>
                            GUC Team<br>
                            Dr. Ayshia Elsafty<br>
                            Eng. Mohamed Agamia<br>
                            Eng. Michael Anwar<br>
                            Eng. Mariam<br>
                            RiseUp<br>
                            Eng. Samuel Samy<br>
                            Mr. Con O'Donnel<br>
                            Mr. AbdelHameed Sharara<br>
                            Ms. Salma Ellakany<br>
                            Ms. Yasmine Helmy<br>
                        </p>
                      </div>
                  </div>
                </div>
               
                
               <!--  -->
        
                <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
                 
                <!--  -->
                <audio controls autoplay loop>
                        <source src="assets/music/music.ogg" type="audio/ogg">
                        <source src="assets/music/music.ogg" type="audio/mpeg">
                        
                      </audio>
                <!--  -->
               
            </div>
    </div>
    </body>
</html>