<div class="nav-tabs-navigation">
    
    <div class=" nav-tabs-wrapper">
       
      <ngb-tabset [justify]="'left'">
         
        <ngb-tab title="Edit Profile">
        <ng-template ngbTabContent>
            
          <div >
           <div><a id="email" class=" dropdown-item">email:{{email}}</a></div>
           <div  id="editemail" ><button (click)="editemail()" type="button" class=" btn btn-info btn-round ">Edit</button></div>
           <div id="groupdanger" class="b form-group">
              <input  style="display:none;" type="text" class=" form-control " id="inputemail" placeholder="">
              <div id="warning" style="display:none;text-align:center;" class="form-control-feedback"></div>
          </div>
          <br>
          <br>
          <div  style="display:none;" id="editwithbuttons" > <button (click)="updateemail()" type="button" class="btn btn-success">EDIT</button>
            <button type="button" (click)="CancelUpdateEmail()" class="btn btn-danger">CANCEL</button> </div>
          </div>
          <div class="dropdown-divider"></div>
          <p class=" dropdown-item">description:</p>
            <div ><p> {{description}} </p></div>
            <div  id="editdesc" ><button (click)=" editdesc()" type="button" class=" btn btn-info btn-round ">Edit</button></div>
            <br>
            <div  class="textarea" id="textdescdiv" >
              
               <textarea style="display:none;" id="textdesc" class="form-control"  rows="3" placeholder="enter your new description here"></textarea> 
               
               <br>
               <div id="succ" style="display:none;text-align:center;" class="form-control-feedback"></div>
               <div  style="display:none;" id="editwithbuttonsdesc" > <button (click)="UpdateDesc()" type="button" class="btn btn-success">EDIT</button>
                <button type="button" (click)="CancelUpdateDesc()" class="btn btn-danger">CANCEL</button> </div>

             </div>
             <div class="dropdown-divider"></div>
             <div  id="editPassword" > <p  class=" dropdown-item" >Password:</p><button (click)="editPasswordView()" type="button" class=" btn btn-info btn-round ">Edit</button></div>
             <div  style="display:none;" id="EditPasswordDiv" class="form-group">
                <!-- <a class=" dropdown-item">password:{{password}}</a> -->
               <P>old Password:</P> <div  class="b"><input id="oldpass" type="text" class="form-control" placeholder="old Password"></div>
                <P>new Password:</P> <div   class="b"><input id="newpass" type="text" class="form-control" placeholder="new Password"></div>
               
                <P>Confirm Password:</P> <div  class="b"><input id="confirmpass" type="text" class="form-control" placeholder="confirm Password"></div>
                <div id="warningPassword" style="display:none;text-align:center;" class="form-control-feedback"></div>
                <br>
                <div   id="editwithbuttons" > <button (click)="UpdatePassword()" type="button" class="btn btn-success">EDIT</button>
                  <button type="button" (click)="CancelEditPasswordView()" class="btn btn-danger">CANCEL</button> </div>
               </div>
                 <div class="dropdown-divider"></div>
          
        </ng-template>
        </ngb-tab>
        <ngb-tab title="Settings">
        <ng-template  ngbTabContent >
            <div >Upgrade <app-requestExpert></app-requestExpert>
            </div>
        </ng-template>
        </ngb-tab>
         
        <ngb-tab title="Edit/Add Tags">
         <!--  <ng-template  ngbTabContent >
            <button id="AddTagsBtn" (click)="AddTagsClick" type="button" class="btn btn-success">Add Tags</button>  
            <div  id="table">     
              <ng2-smart-table  [settings]="settings" [source]="source" (custom) = "custom($event)" (deleteConfirm)="onDeleteConfirm($event)">
               </ng2-smart-table>
             </div>
          </ng-template> -->
          <ng-template  ngbTabContent >   <app-tags-req-add></app-tags-req-add></ng-template>
        
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle><i (click)=profileinfo() class="fa fa-times" style="font-size:24px"></i></ng-template>
          </ngb-tab>
        

      </ngb-tabset>
      
    </div>
  </div>