<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2><a>Pending slot requests</a></h2>            
  <table class="table">
    <thead>
      <tr>
        <th><h1>User</h1></th>
        <th><h1>CreatedAt</h1></th>
        <th><h1>Accept</h1></th>
        <th><h1>Reject</h1></th>

      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{ request.user }}</td>
            <td>{{ request.createdAt }}</td>
            <td>Show Detail</td>
          </tr>
    </tbody>
  </table>
</div>

</body>
</html>
