html, body {
    margin: 0;
     height: 100%;
      overflow: hidden
    }


.title-main{
    font-size: 8em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    background: -moz-linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: -ms-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: -o-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

