<html>
<body>
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <!-- <img src="assets/img/logo-footer.png" alt=""> -->
                    </div>
                    <h1 class="presentation-title">Riseup</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">CONNECTING STARTUPS TO RELEVANT RESOURCES WORLDWIDE!</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">The Story Is Never Ending
        <!-- <h6 class="category category-absolute">Designed and coded by -->
        </h6>
    </div>
    <div class="main">
        <app-components></app-components>
        
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="row">
             <div class="container">
                   <div class="col-md-8 ml-auto mr-auto text-center">
                       <object width="100%" height="500"
                       data="https://www.youtube.com/embed/-fQQxIa7mDc">
                       </object>
                   </div>
               </div>
           </div>
       </div>
       
    </div>
</div>
</body>
</html>