<html>
    <body>
    <div class="wrapper">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="page-header section-dark" style="background-image: url('../assets/img/login-image.jpg');">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        <div class="angular-logo">
                            <!-- <img src="assets/img/logo-footer.png" alt=""> -->
                        </div>
                        <marquee class="presentation-title" behavior="slide" direction="right">RISEUP </marquee>
                        <div class="fog-low">
                            <img src="assets/img/fog-low.png" alt="">
                        </div>
                        <div class="fog-low right">
                            <img src="assets/img/fog-low.png" alt="">
                        </div>
                    </div>
    
                    <h2 class="presentation-subtitle text-center">CONNECTING STARTUPS TO RELEVANT RESOURCES WORLDWIDE!</h2>
                </div>
            </div>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
            <h6 class=" category-absolute ml-auto mr-auto">The Story Is Never Ending
            <!-- <h6 class="category category-absolute">Designed and coded by -->
            </h6>
        </div>
        <div class="main">
            <app-components></app-components>
            
            <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
                <div class = "w3-display-top">
                        <h1>
                                <marquee class="title" behavior="slide" direction="left">Announcements </marquee>
                           </h1>
                    <h1>
                        <marquee class="title" behavior="slide" direction="right">RiseUp-OFFICE HOURS </marquee>
                   </h1>
                
                   
                        <div class="w3-display-left" align="right">
                                <a  class="previous round" (click)="Before();">&#8249;</a>
                             
                             </div>
                             <div class="w3-display-right" >
                             <a  class="next round" (click)="Next();">&#8250;</a>
                             </div>
                             </div>
                             <div class = "w3-display-middle">
                                     
                             <div class="card" >
                                     
                                 <button>WE'VE GOT NEWS FOR YOU</button>
                                 <h4 > {{Announcement}} </h4>
                             </div>
              
               </div>
           </div>
           
        </div>
    </div>
    </body>
    </html>