<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a [routerLink]="['/page/about']">About</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li>
                        <a  rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/riseupsummit/" target="_blank">
                                <i class="FA fa fa-twitter"></i>
                                <p class="d-lg-none">Twitter</p>
                            </a>
                        </li>
                        <li>
                            <a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/riseupsummit/" target="_blank">
                                <i class="FA fa fa-facebook-square"></i>
                                <p class="d-lg-none">Facebook</p>
                            </a>
                        </li>
                        <li>
                            <a rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/riseupsummit/" target="_blank">
                                <i class="FA fa fa-instagram"></i>
                                <p class="d-lg-none">Instagram</p>
                            </a>
                        </li>
                        <li>
                            <a  rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/SEGUC17/Why-Not" target="_blank">
                                <i class="FA fa fa-github"></i>
                                <p class="d-lg-none">GitHub</p>
                            </a>
                        </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} &#10084; site created by T16
                </span>
            </div>
        </div>
    </div>
</footer>
