<div class="wrapper">
        <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
            <div class="filter"></div>
        </div>

        

<div class="row">
   <div class="col-md-6">
       <div class="form-group">
           <input  size = "500000" type="text" class="form-control" placeholder="Tag" [(ngModel)]="tagName" >
           <button type ="button" id="Search" class="btn btn-default" (click)="tagSearch($event)"> Search </button> 
       </div>
   </div>
   </div>
        <h2>Search Results</h2>
        <table class = "table">
<thead>
<tr>
</tr>
</thead>
<tbody>
<tr *ngFor="let request of requests">
<td>{{ request.role}}</td>
<td>{{ request.createdTags}}</td>
<td>{{ request.rating}}</td>
<td>{{ request.numberofsessions}}</td>
<td>{{ request.username}}</td>
<td>{{ request.email}}</td>
<td>{{ request.description}}</td>
</tr>
</tbody>
</table>





        </div>