<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2><a>Expert page-to be edited</a></h2>            
    <button (click)="addSpeciality()">speciality</button>
    <input type="text" [(ngModel)]="speciality" placeholder="speciality" 
    [ngModelOptions]="{standalone: true}"/>
    
    
    <button (click)="toRequests()">requests</button>
</div>

</body>
</html>
