@media (min-width: 600px) {
.LocalVideo{
    position: absolute;
    margin: auto;
    top:187%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.RemoteVideo{
    position: absolute;
    margin: auto;
    top: 188%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 250%;
    z-index: 0;
}
.tmp{
    position: absolute;
    margin: auto;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
}
}

@media (max-width: 600px) {
    .LocalVideo{
    position: absolute;
    margin: auto;
    top: 526%;
    left: 14%;
    right: -166%;
    bottom: 0;
    z-index: 0;
    }
    
    .RemoteVideo{
        position: absolute;
        margin: auto;
        top: 54%;
        left: 14%;
        right: -166%;
        bottom: 0;
        width: 253%;
        z-index: 0;
    }
    .tmp{
        position: absolute;
        margin: auto;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .buttons{
        position: relative;
    margin: auto;
    left: 32%;
    right: 0;
    top:-5em;
    bottom: 0;
    }
    }